# Mac
.DS_Store/

# IDEs
.idea/

# Compiled code
__pycache__/
*.pyc

# Log file
scrappybara.log

# Development environment
dev/

# Data files
scrappybara/reports/
scrappybara/data/

# Distribution
build/
dist/
scrappybara.egg-info/
