# Mac
.DS_Store/

# IDEs
.idea/

# Compiled code
__pycache__/
*.pyc

# Development environment
dev/

# Data files
scrappybara/data/
scrappybara/resources/

# Distribution
build/
dist/
scrappybara.egg-info/
